@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: yekan;
  src: url('/BYekanv2.0/BYekan.woff');
  font-display: block;
}
*{
padding:0;
margin:0
}
body {
  font-family: yekan, sans-serif;
  direction: rtl;
}

.primery-button{
@apply p-4 bg-blue-400 mt-4 text-xl font-bold hover:bg-blue-600
    transition-all rounded-md hover:text-white duration-700
}

.item-add{
@apply ml-2 bg-red-500 rounded-full flex 
            items-center justify-center w-8 h-8 text-center text-white
}
.priv{
@apply absolute bottom-[50%]  translate-y-[50%]
 text-yellow-300 text-4xl m-4 cursor-pointer opacity-75
}
.next{
@apply absolute left-0 bottom-[50%]  translate-y-[50%] 
 text-yellow-300 text-4xl m-4 cursor-pointer opacity-75
}
