@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: yekan;
  src: url('/BYekanv2.0/BYekan.ttf');
  font-display: block;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: yekan, sans-serif;
  direction: rtl;
}

.primery-button {
  @apply p-4 bg-blue-400 mt-4 text-xl font-bold hover:bg-blue-600
    transition-all rounded-md hover:text-white duration-700;
}

.item-add {
  @apply ml-2 bg-red-500 rounded-full flex 
            items-center justify-center w-8 h-8 text-center text-white;
}
.slider{
@apply relative  bg-zinc-500 shadow-2xl flex justify-center items-center h-[40rem] 
lg:flex-col gap-6
}
.priv {
  @apply md:block absolute top-[50%] right-10
 text-yellow-400 text-4xl  p-2 cursor-pointer opacity-75;
}
.next {
  @apply md:block absolute left-10 top-[50%]  p-2
 text-yellow-400 text-4xl  cursor-pointer opacity-75;
}
